# ── Modelo spaCy ────────────────────────────────────────────────────────────
SPACY_MODEL=es_core_news_sm

# ── Servidor EC2 ────────────────────────────────────────────────────────────
HOST=0.0.0.0
PORT=8000
ENVIRONMENT=development
CORS_ORIGINS=*

# ── Lambda Function URL ──────────────────────────────────────────────────────
# URL pública del despliegue serverless en AWS Lambda.
# No incluir barra final.
LAMBDA_URL=https://u6dxtnjdzdxh2kddpvzuxbidni0lfpat.lambda-url.us-east-1.on.aws
