fastapi==0.115.0
uvicorn[standard]==0.30.6
spacy==3.7.5
pydantic==2.9.2
mangum==0.18.0
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl
